@import "bootstrap";
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
body {
	padding-top:60px;
background:white;
}
section {
	overflow:auto;
}
textarea {
	resize: vertical;
}
#error_explanation {
	color: #f00;
	       margin-top:10px;
	ul {
	list-style: none;
	margin: 15px 0 18px 0;
	}
}
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 65%;
/*	margin-bottom: 22px;*/
	@include box_sizing;
}

input {
	  height: auto !important;
}
.field_with_errors {
	@extend .control-group;
	@extend .error;
}
.container{
	color: rgb(51, 51, 51);
	display: block;
	 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-size: 14px;
}
.slogan{
	color: rgb(51, 51, 51);
	display: block;
	 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-size: 14px;
	height: 50px;
	margin-top:40px;
	margin-bottom:-110px;
}
.slogan-title{
	font-size:46px;
	margin-bottom:80px;
}
p{
	font-size: 21px;
	color: #999999
}
.offset1{
	margin-bottom:-180px;
	margin-left:0;
	margin-top:-80px;
}
.login{
	background:#f7f7f7;
		   padding-left:110px;
		   margin-top:60px;
}
